# Naukri Credentials
NAUKRI_USERNAME=your_email@example.com
NAUKRI_PASSWORD=your_secure_password
NAUKRI_MOBILE=9876543210

# Resume Paths (Absolute paths recommended)
ORIGINAL_RESUME_PATH=/Users/username/Documents/Resume.pdf
MODIFIED_RESUME_PATH=/Users/username/Documents/Resume_Updated.pdf
# Naukri Credentials
NAUKRI_USERNAME=satyajeetramnit2708@gmail.com
NAUKRI_PASSWORD=Satyajeet@2023
NAUKRI_MOBILE=8210386150

# Resume Paths (Absolute paths recommended)
ORIGINAL_RESUME_PATH=/Users/satyajeetramnit/Projects/Naukri/your-resume-file-path/Satyajeet_Ramnit_CV.pdf
MODIFIED_RESUME_PATH=/Users/satyajeetramnit/Projects/Naukri/modified-resume-file-path/Satyajeet_Ramnit_CV.pdf
